@import url("https://meyerweb.com/eric/tools/css/reset/reset.css");

* {
    margin: 0;
    padding: 0;
}

.banner {
    width: 100vw;
    height: 100vh;
    background-image: url(images/banner.png);
    color: white;

    ul {
        height: 100px;
        width: 800px;
        text-align: center;
        margin: 0 auto 0 auto;

        li {
            display: inline-block;
        }

        #logo {
            font-size: 72px;
        }
    }
}
